<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>View/Update Student Record-Blooms School System</title>

  <!-- Tailwind CSS -->
  <link rel="stylesheet" href="/output.css" />
  <link rel="stylesheet" href="/alert.css" />
</head>

<body class="bg-gray-100 text-gray-800">
  <!-- Header Section -->
  <header class="bg-blue-700 text-shadow text-white  py-2 shadow-md">
    <div class="container mx-auto">
      <h1 class="text-3xl font-extrabold text-center uppercase">
        Student Records
      </h1>
    </div>
  </header>

  <!-- Include Navigation Bar -->
  <%- include('partials/navbar.ejs') %>
    <!-- Error Message Display -->
    <div id="error-message" class="error-message text-center hidden"></div>

    <!-- Custom Alert Modal -->
    <div id="customAlert" class="custom-alert hidden">
      <div class="custom-alert-content">
        <p id="alertMessage"></p>
        <button onclick="closeAlert()">OK</button>
      </div>
    </div>


    <!-- Main Content -->
    <div class="container mx-auto mt-10 max-w-lg" >
      <h2 class="text-3xl font-semibold text-center text-gray-800 mb-8">View & Manage Student Record</h2>
    
      <!-- Responsive Wrapper for the Student Form -->
      <div class="overflow-hidden bg-white shadow-md rounded-lg p-6 space-y-6 ">
          <form id="updateStudent" class=" grid grid-cols-2 gap-4 ">
            <div class="space-y-1">
              <label for="registrationNo" class="text-sm font-medium text-gray-700">ID No</label>
              <input type="text" id="registrationNo" name="registrationNo" autocomplete="off" required
              class="w-full px-4 py-2 text-sm border rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"/>
          </div>
    
          <div class="space-y-1">
            <label for="name" class="text-sm font-medium text-gray-700">Name</label>
            <input type="text" id="name" name="name" autocomplete="off" required
              class="w-full px-4 py-2 text-sm border rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"/>
          </div>
    
          <div class="space-y-1">
            <label for="fatherName" class="text-sm font-medium text-gray-700">Father's Name</label>
            <input type="text" id="fatherName" name="fatherName" autocomplete="off" required
            class="w-full px-4 py-2 text-sm border rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"/>
          </div>
    
          <div class="space-y-1">
            <label for="cnic" class="text-sm font-medium text-gray-700">Mother's/Father's CNIC</label>
            <input type="text" id="cnic" name="cnic" autocomplete="off" required
            class="w-full px-4 py-2 text-sm border rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"/>
          </div>
    
          <div class="space-y-1">
            <label for="contact1" class="text-sm font-medium text-gray-700">Contact 1</label>
            <input type="text" id="contact1" name="contact1" autocomplete="off" required
              class="w-full px-4 py-2 text-sm border rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"/>
          </div>
    
          <div class="space-y-1">
            <label for="contact2" class="text-sm font-medium text-gray-700">Contact 2</label>
            <input type="text" id="contact2" name="contact2" autocomplete="off" required
              class="w-full px-4 py-2 text-sm border rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"/>
          </div>
    
          <div class="space-y-1">
            <label for="className" class="text-sm font-medium text-gray-700">Class</label>
            <input type="text" id="className" name="className" autocomplete="off" required
            class="w-full px-4 py-2 text-sm border rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"/>
          </div>
          
          <div class="space-y-1">
            <label for="campusName" class="text-sm font-medium text-gray-700">Campus Name</label>
            <input type="text" id="campusName" name="campusName" autocomplete="off" required
              class="w-full px-4 py-2 text-sm border rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"/>
          </div>
    
          <div class="space-y-1">
            <label for="dateOfAdmission" class="text-sm font-medium text-gray-700">Date of Admission</label>
            <input type="date" id="dateOfAdmission" name="dateOfAdmission" autocomplete="off"
              class="w-full px-4 py-2 text-sm border rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"/>
          </div>
         
          <div class="space-y-1">
            <label for="status" class="text-sm font-medium text-gray-700">Status</label>
            <select id="status" name="status" required
              class="w-full px-4 py-2 text-sm border rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
              <option value="Active">Active</option>
              <option value="Inactive">Inactive</option>
            </select>
          </div>
    
          <div class="space-y-1">
            <label for="admissionFee" class="text-sm font-medium text-gray-700">Admission Fee</label>
            <input type="number" id="admissionFee" name="admissionFee" autocomplete="off" required
              class="w-full px-4 py-2 text-sm border rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"/>
          </div>
          
          <div class="space-y-1">
            <label for="monthlyFee" class="text-sm font-medium text-gray-700">Monthly Fee</label>
            <input type="number" id="monthlyFee" name="monthlyFee" autocomplete="off" required
            class="w-full px-4 py-2 text-sm border rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"/>
          </div>
    
          <div class="space-y-1">
            <label for="summerTaskCharges" class="text-sm font-medium text-gray-700">Summer Task Charges</label>
            <input type="number" id="summerTaskCharges" name="summerTaskCharges" autocomplete="off" required
              class="w-full px-4 py-2 text-sm border rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"/>
          </div>
    
          <div class="space-y-1">
            <label for="absentFeeCharges" class="text-sm font-medium text-gray-700">Absent Charges</label>
            <input type="number" id="absentFeeCharges" name="absentFeeCharges" autocomplete="off" required
              class="w-full px-4 py-2 text-sm border rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"/>
          </div>
    
          <div class="space-y-1">
            <label for="otherCharges" class="text-sm font-medium text-gray-700">Other Charges</label>
            <input type="number" id="otherCharges" name="otherCharges" autocomplete="off" required
              class="w-full px-4 py-2 text-sm border rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"/>
          </div>
    
          <div class="pt-4 flex justify-center space-x-4">
            <button type="button" id="submitButton"
              class="w-1/2 bg-yellow-500 hover:bg-yellow-600 text-white font-semibold py-2 px-4 rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:ring-opacity-50 transition duration-150">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
      <!-- JavaScript for handling client-side logic (if needed) -->
       <!-- validation inputs sciprt  -->
        <script src="./script/validations.js"></script>
      <script src="script/updatestudent.js"></script>
      <!-- navbar script-->
    <script src="./script/navbar.js"></script>
</body>
</body>

</html>